@model RegistroCadastro.Models.ViewModels.PessoaFormViewModel

@{
    ViewData["Title"] = "Registro";
    
}

<h2>@ViewData["Title"]</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa.Name" class="control-label"></label>
                <input asp-for="Pessoa.Name" class="form-control" />
                <span asp-validation-for="Pessoa.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.BirthDate" class="control-label"></label>
                <input asp-for="Pessoa.BirthDate" class="form-control" />
                <span asp-validation-for="Pessoa.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Sexo" class="control-label"></label>
                <select asp-for="Pessoa.Sexo" class="form-control">
                    <option value="0" selected>Masculino</option>
                    <option value="1" selected>Feminino</option>
                    <option value="2" selected>Outros</option>
                </select>
                <span asp-validation-for="Pessoa.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.CPF" class="control-label"></label>
                <input asp-for="Pessoa.CPF" class="form-control" />
                <span asp-validation-for="Pessoa.CPF" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="Endereco.Logradouro" class="control-label"></label>
                <input asp-for="Endereco.Logradouro" class="form-control" />
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Complemento" class="control-label"></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Endereco.Cidade" class="control-label"></label>
                <input asp-for="Endereco.Cidade" class="form-control" />
                <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Endereco.Estado" class="control-label"></label>
                <input asp-for="Endereco.Estado" class="form-control" />
                <span asp-validation-for="Endereco.Estado" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Endereco.TipoDeRua" class="control-label"></label>
                <select asp-for="Endereco.TipoDeRua" class="form-control">
                    <option value="0" selected>Residencial</option>
                    <option value="1" selected>Comercial</option>
                    <option value="2" selected>Outro</option>
                </select>
                <span asp-validation-for="Endereco.TipoDeRua" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Endereco.CEP" class="control-label"></label>
                <input asp-for="Endereco.CEP" class="form-control" />
                <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-success form-control" />
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
