@model RegistroCadastro.Models.ViewModels.PessoaFormViewModel

@{
    ViewData["Title"] = "Registro";
    
}

<h2>@ViewData["Title"]</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa.Name" class="control-label"></label>
                <input asp-for="Pessoa.Name" class="form-control" />
                <span asp-validation-for="Pessoa.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.BirthDate" class="control-label"></label>
                <input asp-for="Pessoa.BirthDate" class="form-control" />
                <span asp-validation-for="Pessoa.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Sexo" class="control-label"></label>
                <select asp-for="Pessoa.Sexo" class="form-control">
                    <option value="0" selected>Masculino</option>
                    <option value="1" selected>Feminino</option>
                    <option value="2" selected>Outros</option>
                </select>
                <span asp-validation-for="Pessoa.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.CPF" class="control-label"></label>
                <input asp-for="Pessoa.CPF" class="form-control" />
                <span asp-validation-for="Pessoa.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick="MostrarEndereco();" value="Adicionar Endereço" class="btn btn-success" />
                
            </div>

        </form>
        <script>
            function MostrarEndereco() {
                var btn = document.getElementById('divEndereco');
                if (btn.style.display == 'none') {
                    btn.style.display = 'block';
                }
            }
        </script>
        <div id="divEndereco" style="display: none">
            @Html.Partial("AdicionarEndereco")
        </div>
        
        
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
